{% extends 'adminbase.html.twig' %}
{% block title %} Kategori Düzenleme {% endblock %}
{% block content %}
    <!--inner block start here-->
    <div class="inner-block">
        <div class="blank">
            <h2>Kategori Düzenle</h2>
            <div class="blankpage-main">
                <div class="table-responsive">

                    {{ include('admin/category/_form.html.twig', {'button_label': 'Update'}) }}

                    <a href="{{ path('admin_category_index') }}">back to list</a>

                    {{ include('admin/category/_delete_form.html.twig') }}
                </div>
            </div>
        </div>
    </div>
    <!--inner block end here-->
{% endblock %}

