{% extends 'adminbase.html.twig' %}
{% block title %} Kategori Düzenleme {% endblock %}
{% block content %}
<!--inner block start here-->
<div class="inner-block">
    <div class="blank">
        <h2>Kategori Düzenle</h2>
        <div class="blankpage-main">
            {{ include('admin/messages.html.twig') }}
            <div class="table-responsive">


            {{ include('admin/product/_form.html.twig') }}

                <script>
                    ClassicEditor
                        .create( document.querySelector( '#detail' ) )
                        .catch( error => {
                            console.error( error );
                        } );
                </script>
            </div>
        </div>
    </div>
</div>
    <!--inner block end here-->
{% endblock %}

