<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Hoşgeldiniz{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block slider %}{% endblock %}
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
