{% extends 'adminbase.html.twig' %}

{% block title %} Admin Paneli {% endblock %}

{% block content %}
    <!--inner block start here-->
    <div class="inner-block">
        <div class="blank">
            <h2>Blank Page</h2>
            <div class="blankpage-main">
                <p> Admin Paneli</p>
            </div>
        </div>
    </div>
    <!--inner block end here-->
{% endblock %}
